*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;                                 /* Alinhar verticalmente */
}

header{
    padding: 16px 0 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}



.menu > li{                                             /*Aplica somente no li filho do MENU */
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;                                 /*Contem o elemento filho com position: absolute #01*/
}
.menu li:hover{
    border-color: red;
}
.clear{                                                 /*Clear serve para corrigir um problema da margim ao utilizar o float-left*/
    clear: both;
}
.menu li:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    border: 1px solid red;
    background-color:#fff;
    position: absolute;                                 /*Evita que o submenu desloque o itens do menu*/
    left: 0;                                            /*Posicionar o elemento do submenu para se alinhar ao menu #01*/
    width: 300px;
    top: 100%;                                         /*Posiciona o elemento do submenu depois do valor em % do elemento.*/
}
.submenu li{
    display: block;
    padding: 8px;

}
.botao-menu{
    display: none;
}


.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
}
.noticia img{
    max-width: 100%;
}


.destaque{
    margin-bottom: 56px;
}
.destaque .noticia a{
    display: flex;
    font-size: 2em;
}
.destaque .noticia img{
    margin-right: 8px;
    max-height: 10em;
}

section h2{
    margin-bottom: 32px;
}

.ultimas{
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    column-gap: 1%;
    row-gap: 5%;
}


aside{
    padding-left: 40px;
}
aside .noticia{
    margin-bottom: 24px;
}



@media screen and (max-width: 767px){
    .conteudo{
        display: block;
    }
    .container{
        max-width: 90%;
    }

    .destaque .noticia a{
        display: block;
        font-size: 1.5em;
    }
    .destaque .noticia img{
        margin-right: 0;
        max-height: 100%;
    }

    .ultimas{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 4%;
        row-gap: 5%;
    }

    aside{
        padding-left: 0;
        margin-top: 5em;
    }
    aside img{
        width: 100%;
        max-height: 10em;
        object-fit: cover;
    }
    aside .noticia{
        margin-bottom: 24px;
    }
    

    header div.container{
        flex-direction: column;
    }

    .menu{
        display: none;
    }
    .botao-menu{
        display: flex;
        justify-content: center;
        margin: 1em 0;
    }
    .botao-menu button{
        padding: 1em;
    }
    .menu > li{                                             
        clear: both;
    }                                 
    .submenu{
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }
    .submenu li{
        display: block;
        padding: 8px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        max-width: 90%;
    }
    .destaque .noticia a{
        font-size: 1.5em;
    }
    .ultimas{
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 4%;
        row-gap: 5%;
    }
}