* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", sans-serif;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
body{
    background-color: #FCFBF6;
    color: #232224;
    padding-top: 100px;
}
.container{
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    background-color: #ECE9E0;
    border-radius: 0.5em;
    padding: 2em;
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
header img{
    height: 46px;
    margin-right: 16px;
}
header h1{
    font-size: 40px;
    font-weight: bold;
}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}
form input,button{
    padding: 8px;
    border: none;
    border-bottom: 2px solid #232224;
    font-size: 18px;
    width: 200px;
    border-radius: 0.3em;
}
form button{
    background-color: #159947;
    color: #FCFBF6;
    font-weight: bold;
    cursor: pointer;
    border-bottom: none;
    width: 120px;
}


table{
    width: 100%;
}
table th{
    border-bottom: 2px solid #232224;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}
table td{
    text-align: center;
    font-size: 16px;
    padding: 16px 0;
    border-bottom: 1px solid #2322241c;
}
table td img{
    height: 30px;
}
.tfut td{
    border-bottom: none;
    font-weight: bold;
    padding-top: 2.5em;
    font-size: 18px;
}
.resultado{
    padding: 8px;
    font-weight: bold;
    color: #FCFBF6;
    background-color: #232224;
    border-radius: 3px;
}
.aprovado{
    background-color: #159947;
}
.reprovado{
    background-color: #CA424F;
}