* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #FCFBF6;
    color: #232224;
    font-family: "Raleway", sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 340px;
    width: 90%;
}

form {
    margin-top: 16px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
    border-radius: 0.3em;
    border: solid 1px #23222438;
}

button {
    background-color: #49B265;
    border: none;
    text-transform: uppercase;
    color: #FCFBF6;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5em;
}
button:hover {
    background-color: #159947;
}
.success-message{
    background-color: #49B265;
    color: #FCFBF6;
    border-radius: 0.5em;
    padding: 0.5em;
    display: none;
}
.error-message{
    color: #CA424F;
    margin-bottom: 0.5em;
    font-size: 12px;
    display: none;
}
input.error{
    color: #CA424F;
    border-color: #CA424F;
}

/* Remove as setas do input number no Chrome, Safari, Edge, e Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as setas do input number no Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Remove as setas do input number no Internet Explorer */
input[type="number"] {
    -ms-appearance: textfield;
}



.rio {
    border: solid 1px transparent;
    width: 1.3em;
    height: 0.3em;
    border-radius: 1em;
    margin: 0 0.2em; 
    display: inline-block;
}
.rio:nth-child(1) {
    background-color: #1e3799;
}
.rio:nth-child(2) {
    background-color: #FFCD03;
}
.rio:nth-child(3) {
    background-color: #CA424F;
}