@use 'config/reset.scss';
@use 'config/variaveis.scss';

@mixin d-flex(){
    display: flex;
}
@mixin l-style(){
    list-style: none;
    text-decoration: none;
    text-align: center;
}


body {
    background-color: variaveis.$cor1;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: variaveis.$cor2;
    position: sticky;
    top: 0;
    left: 0;

    img{
        max-height: 50px;
    }

    .container{
        @include d-flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    .menu{
        @include d-flex;

        li{
            font-weight: bold;
            margin-left: 24px;
            @include l-style;
            a {
                color: variaveis.$cor1;
                text-decoration: none;
            }
        }
        
    }



}

section{
    padding: 56px 0;

    .products{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 24%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;
        @include l-style;

        .product-item{
            img{
                width: 100%;
                border-radius: 1em;
            }
            .button{
                display: block;
                background-color: variaveis.$cor3;
                color: variaveis.$cor1;

                padding: 8px 0;
                border-radius: 8px;
                margin-top: 8px;
                @include l-style;

                &:hover{
                    background-color: variaveis.$cor4;
                }
            }
            

        }

    }

}

@media screen and (max-width: variaveis.$mobile) {
    .container{
        max-width: 90%;
    }
    section{
    
        .products{
            display: grid;
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
    .product-item  {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: variaveis.$tablet) {
    .container{
        max-width: 90%;
    }
    section{
    
        .products{
            display: grid;
            grid-template-columns: repeat(3, 32%);
            column-gap: 3%;
        }
    }
    .product-item  {
        margin-bottom: 32px;
    }
}