@import "reset.less";
@import "maps.less";
@Mobile: ~"(max-width: 767px)";
@Tablet: ~"(max-width: 1023px) and (min-width: 768px)";

.margin-BT-8{
    margin-bottom: 8px;
}
.font-SZ-14{
    font-size: 14px;
}

body{
    background-color: #colors[bgColor];
    color: #colors[txtColor];
}
.container{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    // Centralizar na página verticalmente
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @Mobile {
        width: 70%;
    }
    @media @Tablet{
        width: 80%;
    }
}

li{
    list-style: none;
}

header{
    padding-bottom: 24px;

    .foto-perfil{
        display: block;
        margin: 0 auto 24px auto;
        border-radius: 100%;
        max-height: 160px;
    }

    .profile-bio{
        text-align: center;

        &-name{
            font-size: 16px;
            .margin-BT-8();
        }
        &-sub{
            .font-SZ-14();
            .margin-BT-8();
        }
        &-desc{
            .font-SZ-14();
            opacity: 0.70;
        }
    }

}

.social-links{
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0   auto;

        img{
            transition: all ease .3s;
            &:hover{
                transform: scale(1.1);
            }
        }


}

.proj-list{
    &-item{
        margin-top: 1em;
        a{
            text-decoration: none;
            background-color: #colors[btnColor];
            color: #colors[bgColor];
            text-align: center;
            border-radius: 10em;
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            border: solid 2px #colors[btnColor];
            font-weight: bold;
            transition: all ease .5s;

            &:hover{
                color: #colors[btnColor];
                background-color: transparent;
            }
        }
    }

}


